{
  "plugins": [
    "prettier",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "spread": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  globals: {
    "__DEV__": true,
    "fetch": true,
    "Promise": true,
    "window": true,
    "document": true,
    "navigator": true,
    "URL": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5",
      "bracketSpacing": true,
      "jsxBracketSameLine": false,
      "parser": "babylon"
    }],
    "no-console": "off"
  }
}
